<link href="https://fonts.googleapis.com/css?family=Overpass+Mono|Overpass:600|Open+Sans+Condensed:700|Poppins|Roboto|Montserrat" rel="stylesheet">
<link href="/styles/schedule/master.css" rel="stylesheet" />
<link href="/styles/schedule/planner.css" rel="stylesheet" />

<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
<script src="/js/schedule/master.js"></script>
<script src="/js/schedule/schedule_by_modules.js"></script>
<script>
  let allocations = [];
  let total = <%= allocatedLessons.length %>;
    <% _.each(allocatedLessons, function(lesson, index) { %>
    lessonAllocationObj = new Object();
    lessonAllocationObj.id = "<%= lesson.id %>";
    lessonAllocationObj.study_year_sem = "<%= lesson.study_year_sem %>";
    lessonAllocationObj.num_of_lessons = "<%= lesson.num_of_lessons %>";
    lessonAllocationObj.lesson_day = "<%= lesson.lesson_day %>";
    lessonAllocationObj.group_index = "<%= lesson.group_index %>";
    lessonAllocationObj.module_code = "<%= lesson.module_code %>";
    lessonAllocationObj.start_time = "<%= lesson.start_time %>";
    lessonAllocationObj.duration = "<%= lesson.duration %>";
    lessonAllocationObj.frequency = "<%= lesson.frequency %>";
    lessonAllocationObj.venue = "<%= lesson.venue %>";
    lessonAllocationObj.venueid = "<%= lesson.venue_id %>";
    lessonAllocationObj.type = "<%= lesson.type %>";
    lessonAllocationObj.teaching_weeks = "<%= lesson.teaching_weeks %>";
    allocations.push(lessonAllocationObj);
    <% }); %>
</script>

<div class="placeholder_main">
  <div class="colorbar">
    <p class="pagetitle">Weekly Planner</p>
    <div class="btns-wrapper">
      <input type="file" id="myfile" formenctype="multipart/form-data" style="display: none;" />
      <button id="export-btn" onclick="choose_file();" class="btn btn-dark"><img src="/images/icons/upload_file.svg" /></button>
    </div>
  </div>

  <div class="options_wrapper">
    <p>
      Legend:
      <span style="background-color: #3a4660; color: white; padding: 3px;">LAB</span>
      <span style="background-color: rgb(237, 138, 99); color: white; padding: 3px;">TUT</span>
      <span style="background-color: #118798; color: white; padding: 3px;">LEC</span>
    </p>
    <div class="filter_wrapper">

    </div>
  </div>


  <div class="planner">
    <%
      let days_arr = ["Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"];
      let days_short_arr = ["M", "T", "W", "TH", "F", "S"];
      let time_arr = ["08:30", "09:30", "10:30", "11:30", "12:30", "13:30", "14:30", "15:30", "16:30", "17:30", "18:30", "19:30", "20:30", "21:30", "22:30", "23:30"];
    %>
    <div id="weekly_planner">
      <div class="header">
        <p class="day_title" style="min-width: auto;">Day</p>
        <p class="day_title" style="min-width: 80px;">Time</p>
        <% _.each(modules, function(module, index) { %>
        <p class="day_title"><%= module.code %></p>
        <% }); %>
      </div>

      <div class="content_placeholder">
        <% for (let i = 0; i < 5; i++) { %>
        <div class="day_group" data-day="<%= days_short_arr[i] %>">
          <p class='title'><%= days_arr[i] %></p>
          <div class="time_wrapper">
          <% for (let j = 0; j < timeslots; j++) { %>
            <div class="day_placeholder" data-time="<%= time_arr[j] %>">
              <p class="time_title"><%= time_arr[j] %></p>
            <% _.each(modules, function(module, index) { %>
              <div class="events_group" data-mod="<%= module.code %>" ondragover="allowDrop(event);" ondrop="dragndrop_event(event);" ondblclick="add_event(this);"></div>
            <% }); %>
            </div>
          <% } %>
          </div>
        </div>
        <% } %>
      </div>
    </div>
  </div>

  <div class="modal fade" id="add_event_modal" tabindex="-1" role="dialog" aria-labelledby="add_event_modal_title" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="add_event_modal_title">Add Lesson</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" onclick="confirm_add_event();">Add</button>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="edit_event_modal" tabindex="-1" role="dialog" aria-labelledby="add_event_modal_title" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="edit_event_modal_title">Edit Lesson</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" onclick="confirm_edit_event();">Apply Changes</button>
        </div>
      </div>
    </div>
  </div>
</div>
